<!DOCTYPE html>

<html>
    <head>
        <meta charSet="utf-8" />
        <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Universal React Saga</title>

        <link rel="stylesheet" href="/build/app.bundle.css" />
    </head>
    <body>
        <div id="mount">{{{ html }}}</div>
        <script>
            window.__INITIAL_STATE__ = {{{ preloadedState }}};
        </script>
        <script src="/build/main.js"></script>
    </body>
</html>
